body {
	background-color: #333;
}
.container {
	background-color: #d9d9d9;
	margin: 10px;
	text-align: center;
	padding: 15px;
}
.container h1 {
	border-bottom: 2px solid #333;
	color: #333;
	padding: 10px;
}
.container form {
	background-color: #333;
	width: 350px;
	margin: auto;
	padding: 10px;
}
.container form input[type='email'], input[type='text'], input[type='password'] {
	border: 1px solid black;
	border-radius: 4px;
	font-size: 20px;
	padding: 5px;
}
.container form input[type='submit'], input[type='reset'] {
	background-color: #d9d9d9;
	color: black;
	border: 1px solid black;
	border-radius: 4px;
	font-size: 20px;
	padding: 5px;
}
.container form input[type='submit']:hover, input[type='reset']:hover {
	cursor: pointer;
	background-color: #b3b3b3;
}

.errorMessages ul {
	padding: 0;
	
}
.errorMessages ul li {
	background-color: #ff7573;
	border-radius: 4px;
	color: white;
	display: block;
	text-align: center;
	padding: 5px;
	margin: 5px;
	font-size: 24px;
}

/*
	Blog Styling
*/
.blogContainer {
	margin-top: 10px;
}
.blogTitle {
	background-color: white;
}
.blogDescription {
	background-color: white;
	padding: 5px;
}

/*
	Project Styling
*/
.modal-container {
	visibility: hidden;
	position: absolute;
	left: 0;
	right: 0;
	background-color: white;
	border-radius: 4px;
	width: 50%;
	margin: auto;
	padding: 10px;
	height: 400px;
}
.modal-description {
	border-radius: 4px;
	width: 98%;
	margin-top: 10px;
	padding: 5px;
	resize: none;
}
.modal-btn {
	background-color: #c5f595;
	color: black;
	border: none;
	border-radius: 4px;
	margin-top: 10px;
	padding: 4px;
	font-size: 20px;
	cursor: pointer;
}